<!-- Custom 404 page -->

<!-- pull in page set up, nav, styles -->
{% extends "main.html" %}
{% block tabs %}
{{ super() }}
{% endblock %}

<!-- 404 page content -->
{% block content %}
          <h1>Oops! Page not found (404)</h1>
          <p>Sorry, we can't find the page you're looking for</p>
          <p>We've refreshed our Staff Guides for Online Learning Tools sites with new and improved content and an updated look and feel. Some content has moved or been renamed, so some things might not be where you're used to finding them.</p>
          <div class="admonition tip">
            <p class="admonition-title">Find what you need by:</p>
            <ul>
              <li>searching for specific topics using the search box (top right)</li>
              <li>exploring guide categories in the navigation menu</li>
              <li>browsing all pages listed by tag in the <a href="/help/site-index/">Site index</a></li>
            </ul>
          </div>
{% endblock %}

<!-- footer -->
{% block footer %}
  {{ super() }}
{% endblock %}