<!-- Custom HTML site displayed as the Home chapter -->

{% extends "home-styles.html" %}

<!-- Navigation tabs -->
{% block tabs %}
{{ super() }}
{% endblock %}

<!-- main content -->
{% block content %}
<!-- header/hero section -->
<section class="tx-container-hero">
  <div class="md-grid md-typeset">
    <div class="tx-hero">
      <div class="tx-hero__content">
        <h1>Guides for online learning tools at UoY</h1>
        <p><b>Staff support</b> for the online learning tools managed by the Programme Design & Learning Technology Team.</p>
        <p>Jump to the tool you want using the navigation menu above or links below, or search to find a specific guide.</p>
        <p>For <b>student support</b>, visit our <a href="https://subjectguides.york.ac.uk/learning-tech/">Practical Guide to Learning Technology</a>.</p>
      </div>
      <div class="tx-hero__image">
        <img src="assets/images/home-hero-image.png" alt="">
      </div>
    </div>
  </div>
</section>

<!-- tool link section -->
<section class="tx-container-tools">
  <div class="md-grid md-typeset">
    <div class="tx-tools">
      <div class="tx-tools__content">
        <div class="tx-tools__content__inner">
          <h2>Learn Ultra</h2>
          <p>The VLE used for almost all on-campus programmes.</p>
          <button class="md-button"><a href="../ultra" title="Learn Ultra guides">
          Learn Ultra guides
          </a></button>
        </div>
        <div class="tx-tools__image">
          <img src="assets/images/learn-ultra.png" alt="">
        </div>
      </div>
      <div class="tx-tools__content">
        <div class="tx-tools__content__inner">
          <h2>Panopto/Replay</h2>
          <p>Video tool for the Replay lecture capture systems and sharing at-desk recordings.</p>
          <button class="md-button">
            <a href="../panopto" title="Panopto guides">
              Panopto guides
            </a>
          </button>
        </div>
        <div class="tx-tools__image">
          <img src="assets/images/panopto.png" alt="">
        </div>
      </div>
      <div class="tx-tools__content">
        <div class="tx-tools__content__inner">
          <h2>Reading List</h2>
          <p>Tool to present module readings in a central and accessible location within VLE sites.</p>
          <button class="md-button">
            <a href="../readinglist" title="Reading List guides">
              Reading List guides
            </a>
          </button>
        </div>
        <div class="tx-tools__image">
          <img src="assets/images/panopto.png" alt="">
        </div>
      </div>
      <div class="tx-tools__content">
        <div class="tx-tools__content__inner">
          <h2>Canvas</h2>
          <p>The VLE used for York Online programmes.</p>
          <button class="md-button">
            <a href="../canvas" title="Canvas guides">
              Canvas guides
            </a>
          </button>
        </div>
        <div class="tx-tools__image">
          <img src="assets/images/canvas.png" alt="">
        </div>
      </div>
      <div class="tx-tools__content">
        <div class="tx-tools__content__inner">
          <h2>Xerte</h2>
          <p>A tool for creating interactive online content.</p>
          <button class="md-button">
            <a href="../xerte" title="Xerte guides">
              Xerte guide
            </a>
          </button>
        </div>
        <div class="tx-tools__image">
          <img src="assets/images/xerte.png" alt="">
        </div>
      </div>
      <div class="tx-tools__content">
        <div class="tx-tools__content__inner">
          <h2>Padlet</h2>
          <p>A flexible web-based tool for collaborative and individual project work and discussion.</p>
          <button class="md-button">
            <a href="../padlet" title="Padlet guides">
            Padlet guide
            </a>
          </button>
        </div>
        <div class="tx-tools__image">
          <img src="assets/images/padlet.png" alt="">
        </div>
      </div>
      <div class="tx-tools__content">
        <div class="tx-tools__content__inner">
          <h2>Mentimeter</h2>
          <p>A tool for adding polling and other interaction to presentations or sessions.</p>
          <button class="md-button">
            <a href="../mentimeter" title="Mentimeter guides">
              Mentimeter guide
            </a>
          </button>
        </div>
        <div class="tx-tools__image">
          <img src="assets/images/mentimeter.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

<!-- footer -->
{% block footer %}
  {{ super() }}
  <a href="https://www.york.ac.uk/about/legal-statements/#tab-1">
    University of York Legal Statements
  </a>
{% endblock %}